<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Log In1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'assets/favicon.ico' %}">
  </head>
  <body>
    <div class="">
        
      <section class="position-relative pb-5">
        <div class="container">

          <div class="position-absolute top-0 end-0 d-none d-lg-flex align-items-center col-lg-6 ">
              <img class="img-fluid" src="{% static 'assets/metis-assets/illustrations/moobec-vector.jpeg' %}" alt="">
              

          </div>

          <div class="row">
            <div class="col-12 col-lg-6 ">
              <div class="row pt-4">
                <div class="col-12 col-md-8 col-lg-10 mx-auto">
                  <!--div class="mb-5 pb-5 d-flex align-items-center justify-content-between">
                    <a href="{% url 'home' %}">
                      <img class="img-fluid" src="{% static 'assets/metis-assets/logos/metis/Untitled.svg' %}" alt="" width="106"></a>
                    <a class="btn btn-outline-primary" href="{% url 'register' %}">Sign Up</a>
                  </div-->
                  <div class="mb-4">
                    
                    {% block auth  %}

                    {% endblock %}

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

    </div>

    <!---------------JS HERE------------->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script >
        var username_error = document.getElementById("username_error");
        setTimeout(function(){ 
            username_error.style.display = "none"; 
        }, 4000);
        var email_error = document.getElementById("email_error");
        setTimeout(function(){ 
            email_error.style.display = "none"; 
        }, 4000);
    </script>
    </body>
</html>
