<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-6 mb-md-0">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card p-6">
          <div class="card-body p-0">
            <div class="d-flex mb-6 align-items-center">
              <span class="d-inline-flex me-4 align-items-center justify-content-center rounded-2 bg-secondary" style="width: 40px; height: 40px;">
                <img class="img-fluid" src="sirius-assets/images/brands/twitch.svg" alt="">
              </span>
              <p class="mb-0 text-dark fw-bold">My wealth and treasures?</p>
            </div>
            <div class="mb-6">
              <div class="d-flex mb-4 align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z" stroke="#7A899B" stroke-width="2" stroke-miterlimit="10"></path>
                  <path d="M9.06034 9.06069L9.81621 6.17676L6.93902 6.93932L6.34802 9.65163L9.06034 9.06069Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Warsaw, Poland</p>
              </div>
              <div class="d-flex align-items-center">
                <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M2 8H14" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <p class="mb-0">Sirius.dev</p>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-6 border-bottom">
              <div>
                <img class="rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px;" src="https://images.unsplash.com/photo-1566576912307-ffbc957001f4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <img class="ms-n3 rounded-1" style="width: 32px; height: 32px" src="https://images.unsplash.com/photo-1612404834746-1ffba06de133?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;cs=tinysrgb&amp;fit=crop&amp;h=128&amp;w=128" alt="">
                <a class="ms-auto ms-n3 btn bg-primary-light text-primary d-inline-flex align-items-center justify-content-center p-0 btn-outline-light shadow rounded-1" href="#" style="width: 32px; height: 32px;">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 6H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6 1V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
              <a href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z" fill="#7A899B"></path>
                  <path d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z" fill="#7A899B"></path>
                </svg>
              </a>
            </div>
            <div class="pt-6 mb-6">
              <span class="badge me-3 bg-light-light text-secondary">Phase 2</span>
              <span>Mid-round Calls</span>
            </div>
            <div class="position-relative bg-light rounded" style="height: 4px;">
              <div class="position-absolute top-0 bottom-0 start-0 bg-primary rounded" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>